/* your styles go here */
#portfolio .col-sm-4{
    text-align: center;
}
#portfolio .col-sm-4 a{
    text-decoration: none;
}
.overlay{
    background-image:url(../img/moon.jpg);
}
.navbar-brand>img {
    display: none;
}